version: "3.9"

services:
  api:
    build: .
    container_name: flask-app
    ports:
      - "3000:3000"
    environment:
      DB_URL: "postgresql://postgres:example@db:5432/todo_db"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: flask-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
